<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764436491502-qv0k2anm5o6shgq6vnjdsr5148a7bgmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764436491502-qv0k2anm5o6shgq6vnjdsr5148a7bgmi</string>
	<key>API_KEY</key>
	<string>AIzaSyD5jGJ1oUwbaokvkxwuPnTR0v3yCP63gUA</string>
	<key>GCM_SENDER_ID</key>
	<string>764436491502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartInstiApp</string>
	<key>PROJECT_ID</key>
	<string>smart-insti-app</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-insti-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764436491502:ios:d8db05af5ceeddcf0c57ff</string>
	<key>DATABASE_URL</key>
	<string>https://smart-insti-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>